build/
dist/
biotranslator/biotranslator/__pycache__/
pypirc
.idea/
biotranslator/__pycache__/
biotranslator/config/__pycache__/
biotranslator/loader/__pycache__/
biotranslator/metrics/__pycache__/
biotranslator/text_encoder/__pycache__/
biotranslator/trainer/__pycache__/
biotranslator/utils/__pycache__/
biotranslator.egg-info/
biotranslator/BioTranslator/biotranslator/__pycache__/