build/
dist/
BioTranslator/biotranslator/__pycache__/
pypirc
.idea/
BioTranslator/__pycache__/
BioTranslator/config/__pycache__/
BioTranslator/loader/__pycache__/
BioTranslator/metrics/__pycache__/
BioTranslator/text_encoder/__pycache__/
BioTranslator/trainer/__pycache__/
BioTranslator/utils/__pycache__/
biotranslator.egg-info/